<a href="https://colab.research.google.com/github/rahardianfatoni/ngc-1/blob/main/h8dsft_ngc_python_function_conditional_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Non-Graded Challenge 2

## Task 1 - Number of word

Create a function that count the number of word in a sentence. Instruction: <br />1.Create function called `number_of_word`.
 <br />2.This function takes 1 input, `sentence`.
 <br />3.Inside this function, you can utilize `.split()` method to split the sentence into list of word(s).
<br /> 4.Also, `len()` function to count the element inside a list.
 <br />5.Return the number of word from the sentence.
 Example:<br />-Input: number_of_word(sentence = ’Hello World!’)-Output: <br />2-Input: number_of_word(sentence = ’Once Upon a Time in a faraway land’)-Output: 8

In [3]:
def number_of_word(sentence):
  words = sentence.split(" ")
  word_count = len(words)
  return word_count

output = number_of_word("Hello World!")
output2 = number_of_word("Once Upon a Time in a faraway land")

print(output)
print(output2)

2
8

## Task 2 - Find Multiple

Create a function that will get list of number(s) from a certain range that multiples of given number.<br />Instruction:<br />1.Create function called `find_multiples`.<br />2.This function takes 3 input: `start_range`, `end_range`, and `multiple`.<br />3.From every number within the given range, check if that number is the mutliples of `multiple`.<br />4.Return list of the possible multiple number(s).

In [10]:
def find_multiples(start_range, end_range, multiple):
  if end_range % (start_range * multiple) == 0:
    multiples = []
    for i in range(start_range*multiple, end_range + start_range*multiple, multiple):
      multiples.append(i)
    return multiples
  else:
    return f"{multiple} is not multiples of {end_range}"

output3 = find_multiples(1,100,5)
output4 = find_multiples(1,100,6)
print(output3)
print(output4)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
6 is not multiples of 100

# Task 3 - Grade converter

Create a function that will convert student’s grade to GPA.<br />Instruction:<br />1.Create function called `Grade_Converter`.<br />2.This function takes input: `convert_to` and n-paired of student(s) name with its respective score.<br />3.Input argument for `convert_to` is either `letter_grade` or `gpa`.<br />4.You can utilize **kwargs input argument to generate n-length paired of student(s) name with its respective score (Dictionary).<br />5.This function will return dictionary of student’s name along with converted Letter Grade or GPA, depending on user input in `convert_to` parameter

In [22]:
def Grade_Converter(convert_to, **name_score):
  converted_grade = {}

  def to_letter_grade(score):
    if 85 <= score <= 100:
      return 'A'
    elif 70 <= score <= 84.99:
      return 'B'
    elif 60 <= score <= 69.99:
      return 'C'
    elif 50 <= score <= 59.99:
      return 'D'
    elif 40 <= score <= 49.99:
      return "E"
    elif 0 <= score <= 39.99:
      return "F"

  def to_gpa(score):
    if 85 <= score <= 100:
      return '4'
    elif 70 <= score <= 84.99:
      return '3'
    elif 60 <= score <= 69.99:
      return '2.5'
    elif 50 <= score <= 59.99:
      return '2'
    elif 40 <= score <= 49.99:
      return "1.5"
    elif 0 <= score <= 39.99:
      return "1"

  for name, score in name_score.items():
    if convert_to == "letter_grade":
      to_letter_grade(score)
      converted_grade[name] = to_letter_grade(score)
    elif convert_to == 'gpa':
      to_gpa(score)
      converted_grade[name] = to_gpa(score)

  print(converted_grade)

Grade_Converter(convert_to='gpa', Adam=62, Faiz=91)
Grade_Converter(convert_to='letter_grade', Albert=90, Dwi=82, Syahdan=58, Veronica=84)

{'Adam': '2.5', 'Faiz': '4'}
{'Albert': 'A', 'Dwi': 'B', 'Syahdan': 'D', 'Veronica': 'B'}

# Task 4 - Fibonacci Sequence

create a function that will return the value of n-th fibonacci number.Instruction:<br />1.The function will take 1 input parameter, n, represents the asked number from our fibonacci sequence index.<br />2.The fibonacci sequence will start with the value of 0 and 1.<br />3.This function will return the n-th value from fibonacci sequence.

In [35]:
def my_function(n):
    fib_sequence = [0]
    fib_n = n + 1
    if fib_n > 0:
        fib_sequence.append(1)
    for i in range(2,fib_n):
      next = fib_sequence[-2]+fib_sequence[-1]
      fib_sequence.append(next)
    print(fib_sequence)
    print(fib_sequence[n])

my_function(n=4)
my_function(n=0)
my_function(n=10)

[0, 1, 1, 2, 3]
3
[0, 1]
0
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
55